body {
  margin: 0;
  padding: 0;
  background-image: url(./images/bg/bg3.jpg);
  background-size: cover;
  backdrop-filter: blur(5px);
}
div {
  display: flex;
  width: 100%;
  height: 100vh;
}

p {
  color: #ffffff;
  margin: auto;
  font-size: 5rem;
  text-align: center;
  justify-self: center;
  align-self: center;
}
@media (min-width: 320px) and (max-width: 1024px) {
  p{
    font-size: 7vw;
  }
}