html {
  scroll-behavior: smooth;
  background: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #11071f;
}
.parent {
  display: grid;
  grid-template-columns: 12.5% 1fr 12.5%;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-family: "Inter", sans-serif;

  color: #fff;
  line-height: 1.6;
}

.div1 {
  grid-area: 1 / 1 / 2 / 4;
  background: #1a0b2e;
}

.div1 ul {
  display: flex;
  margin: 10px auto;
  padding: 0;
  width: 100%;
  justify-self: center;
  justify-content: space-evenly;
}
.div1 ul li {
  font-weight: 600;
  font-size: 1.3rem;
  font-family: "Plus Jakarta Sans";
  list-style: none;
  line-height: normal;
  cursor: pointer;
}
.div1 ul li a {
  color: #aaa0ff;
  text-decoration: none;
}
.div1 ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.div1 ul li.active {
  color: #ffffff;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
}

.div2 .avtar_ctnt {
  margin: 4rem 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-template-rows: auto auto;
  align-items: center;
  text-align: left;
  font-family: "Preahvihear";
}

.div2 .avtar_ctnt .my_nm {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
  height: 30px;
  margin: 0 0 0 10.5rem;
  padding: 0;
  bottom: -30%;
}

.div2 .avtar_ctnt .my_nm p {
  position: relative;
  left: 4.2rem;

  font-size: 1rem;
  font-weight: 600;
  font-family: "Preahvihear";
}

.div2 .avtar_ctnt .my_nm p > span {
  margin: 0;
  padding: 0;
  color: #7127ba;
}

/* Curved Arrow Styles */
.arrow-container {
  position: relative;
  top: -1.45rem;
  width: 120px;
  height: 100px;
  opacity: 0.6;
}

.curve-line {
  width: 90%;
  height: 100%;
  border: 1px solid white;
  border-color: white transparent transparent transparent;
  border-radius: 100px 100px 0 0/70px 70px 0 0;

  transform: rotate(-35deg);
}

.arrow-head {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 200px 0 700px 0/700px 0 200px 0;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #ffffff;
  top: -69%;
  left: -3.28%;
  transform: rotate(-27deg);
}

.div2 .avtar_ctnt .avtar-div {
  grid-area: 2/1/3/2;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 300px;
  height: 335.58px;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}
.div2 .avtar_ctnt .avtar-div .avtar {
  justify-self: center;

  height: 223px;
  width: 165x;
}

.div2 .avtar_ctnt .ctnt {
  grid-area: 2/2/3/3;
  margin: 0 0 0 0.5rem;
  padding: 0;
  justify-self: start;
  align-self: center;
  max-width: 400px;
}

.div2 .avtar_ctnt .ctnt p {
  margin: 0;
  padding: 0;
}

.div2 .avtar_ctnt .ctnt p:nth-of-type(1) {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.6);
}
.div2 .avtar_ctnt .ctnt p:nth-of-type(2) {
  font-size: 2.5rem;
}
.div2 .avtar_ctnt .ctnt p:nth-of-type(2) .border {
  display: inline-block;
  position: relative;
  top: 0.3rem;
  height: 3rem;
  width: 9rem;
  margin-left: -0.5rem;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50% / 50%;
  transform: rotate(-4.74deg);
  text-align: center;
}
.div2 .avtar_ctnt .ctnt p:nth-of-type(2) .text {
  display: inline-block;
  position: relative;
  top: -0.3rem;
  margin-left: -0.5rem;
  color: #7127ba;
  transform: rotate(4.74deg);
}

.div2 .avtar_ctnt .ctnt p:nth-of-type(3) {
  font-size: 0.75rem;
}

.div2 .dtl_ctnt {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.div2 .about_me p {
  font-family: "Preahvihear";
}

.div2 .about_me :is(p:nth-of-type(2), p:nth-of-type(3)) {
  text-align: justify;
}
.div2 .about_me p:nth-of-type(1) {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
  margin: -1rem auto 1rem auto;
  padding: 0;
}
.div2 .about_me :is(p:nth-of-type(2), p:nth-of-type(3)) {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.div2 .heading {
  font-family: "Preahvihear";
  font-size: 2rem;
  font-weight: 600;
}

.div2 .exp .exp_ctnt {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  font-family: "Preahvihear";
  gap: 1rem;

  flex-wrap: wrap;
}

.div2 .exp .exp_ctnt > div {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  align-items: center;
  text-align: left;
  justify-content: center;
  max-width: 475px;
  width: 40%;
  min-width: 375px;

  border-radius: 10px;
  border: solid 0.5px #7127ba;
  padding: 10px 10px;
  margin-top: 1rem;
  background: linear-gradient(
    150deg,
    #361761 0%,
    #2d1949 19.79%,
    rgba(44, 18, 80, 0) 90.1%
  );
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
}

.div2 .exp .exp_ctnt img {
  grid-area: 1 / 1 / 2 / 2;
  margin-right: 10px;
}
.div2 .exp .exp_ctnt img + .ctnt {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0 0 0 10px;
  width: 80%;
}

.div2 .exp .exp_ctnt img + .ctnt p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

.div2 .exp .exp_ctnt .ctnt p:nth-of-type(1) {
  font-weight: bold;
}
.div2 .exp .exp_ctnt .ctnt p:nth-of-type(2) {
  font-size: 0.6rem;
  text-align: justify;
}

.div2 .exp .exp_ctnt .ctnt button {
  margin-top: 0.6rem;
}

.div2 .exp .exp_ctnt .ctnt button {
  padding: 0.3em 0.5em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #693b93;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.div2 .exp .exp_ctnt .ctnt button:hover {
  background-color: #693b93;
  box-shadow: 0px 10px 20px #5b0da3;
  color: #fff;
}

.div2 .heading_2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.div2 .proj .proj_ctnt {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.div2 .proj .proj_ctnt .ctnt_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 80%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
}
.div2 .proj .proj_ctnt .ctnt_div .heading_2 {
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  height: auto;
}
.div2 .proj .proj_ctnt .ctnt_div .heading_2 p {
  margin: 0.5rem 0 0.5rem 2rem;
  padding: 0;
}
.div2 .proj .proj_ctnt .ctnt_div .text {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0;
}

.div2 .proj .proj_ctnt .ctnt_div .text p {
  position: relative;
  justify-self: end;
  align-self: center;
  line-height: normal;
  text-align: justify;
  padding: 1.5rem 2rem;
  max-width: 500px;
  width: 40%;
  min-width: 300px;
  max-height: 30%;
  left: 10%;
  bottom: -17.5%;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(39, 18, 66, 0.8),
    rgba(39, 18, 66, 0.6),
    rgba(39, 18, 66, 0.4),
    rgba(39, 18, 66, 0.2)
  );
  backdrop-filter: blur(20px);
  
}

.div2 .proj .proj_ctnt .overview {
  grid-area: 1 / 2 / 3 / 3;
  justify-self: start;
  align-self: center;
  width: 70%;
  height: 80%;
  padding: 1rem 0 0 1rem;
  background: #2b0b3a;
  border-radius: 10px 0 0 0;
}

.div2 .proj .proj_ctnt .overview img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 12px 0 0 0;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
  height: auto;
  width: 15%;
}

.div4 {
  grid-area: 2 / 3 / 3 / 4;
  height: auto;
  width: 15%;
}

.div5 {
  grid-area: 3 / 1 / 4 / 4;
  width: 100%;
  height: 3rem;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .parent {
    grid-template-columns: 5% 90% 5%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .div2 {
    width: 100%;
    margin: auto;
  }
  .div2 .avtar_ctnt {
    display: grid;
    grid-template: repeat(3, auto) / auto;
    align-items: start;
    width: 90%;
    margin: 2rem auto 0 auto;
  }
  .div2 .my_nm .arrow-container {
    display: none;
  }
  .div2 .avtar_ctnt .avtar-div {
    grid-area: 1/1/2/2;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
  }
  .div2 .avtar_ctnt .my_nm {
    grid-area: 2/1/3/2;
    top: -10px;
    width: 90%;
    font-size: 0.5rem;
    justify-self: center;
    margin: 0 auto 50px auto;
    padding: 0;
    left: 0;
  }

  .div2 .avtar_ctnt .my_nm p {
    font-size: 1.2rem;
  }

  .div2 .avtar_ctnt .ctnt {
    grid-area: 3/1/4/2;
    align-self: start;
    margin: 0;
    width: 100%;
  }
  .div2 .avtar_ctnt .ctnt p:nth-of-type(3) {
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 1.8;
    font-size: 0.8rem;
  }

  .div2 .proj .proj_ctnt {
    margin: 0;
    padding: 0;
    width: 80%;
  }
  .div2 .proj .proj_ctnt .ctnt_div {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .div2 .proj .proj_ctnt .ctnt_div .heading_2 {
    grid-area: 1/1/2/2;
    width: 100%;
  }

  .div2 .proj .proj_ctnt .overview {
    grid-area: 2/1/3/2;
    justify-self: end;
    margin: 0 0 1rem auto;
    width: 80%;
    padding: 1.2rem 0 0 1.2rem;
  }
  .div2 .proj .proj_ctnt .overview img {
    width: 100%;
  }

  .div2 .proj .proj_ctnt .ctnt_div .text {
    grid-area: 3/1/4/2;
    justify-self: end;
    margin: 0 0 1rem auto;
    width: 80%;
    padding: 1rem 0 0 0;
    padding: 1.2rem;
    background: linear-gradient(
      to right,
      rgba(39, 18, 66, 0.8),
      rgba(39, 18, 66, 0.6),
      rgba(39, 18, 66, 0.4),
      rgba(39, 18, 66, 0.2)
    );
    border-radius: 10px;
  }
  .div2 .proj .proj_ctnt .ctnt_div .text p {
    display: n;
    justify-self: start;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    padding: 0;
    left: 0;
    max-height: 100%;
    background: none;
    bottom: 0;
  }



  .div3 {
    display: none;
  }
  .div4 {
    display: none;
  }
  .div5 {
    display: block;
    width: 100%;
  }
}
