html {
  background: white;
}
body {
  margin: 0;
  padding: 0;
  background-color: #11071f;
}
.none {
  display: none;
}
.notice {
  position: fixed;
  top: 40%;
  width: 100%;
  z-index: 9999;

  font-family: "Inter", sans-serif;
  display: none;
}
.notice p strong {
  color: #e6e6fa;
}
.notice p {
  color: #cccccc;
  margin: auto;
  font-size: 5rem;
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 80%;
  background: rgb(26, 11, 46, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  padding: 0.8rem 1.5rem;
}

.parent {
  display: grid;
  grid-template-columns: 12.5% 1fr 12.5%;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-family: "Inter", sans-serif;

  color: #fff;
  line-height: 1.6;
}

.div1 {
  grid-area: 1 / 1 / 2 / 4;
  position: static;
  top: 0.5rem;
  margin: 1rem auto 0 auto;
  width: 90%;
  justify-self: center;
  background: rgb(26, 11, 46, 0.8);
  border-radius: 999px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  z-index: 999;
}

.div1 ul {
  display: flex;
  margin: 10px auto;
  padding: 0;
  width: 100%;
  justify-self: center;
  align-content: center;
  align-self: center;
  justify-content: space-evenly;
}

.div1 ul li {
  align-self: center;
  align-content: center;
  height: 35px;
  width: 50px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: "Plus Jakarta Sans";
  list-style: none;
  line-height: normal;
  cursor: pointer;
}

.div1 ul li a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  flex-grow: 1;
  gap: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #1a0b2e;
  fill: #aaa0ff;
  text-decoration: none;
}

.div1 ul li .nav-icon {
  display: inline-block;
  height: 100%;
  width: 75%;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
  vertical-align: text-bottom;
}

.div1 ul li .text {
  display: none;
  background: #aaa0ff;
  background: #ffffff;
  width: 100%;
  /* font-size: 45%; */
  font-size: 0.7rem;
  font-weight: bolder;
  border-radius: 999px;
  backdrop-filter: blur(30px);
  text-align: center;
  margin-top: 0;
}

.div1 ul li:hover a {
  color: #1a0b2e;
  fill: #ffffff;
}

.div1 ul li:hover .text {
  display: block;
}
.div1 ul li:hover .nav-icon {
  width: 60% !important;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
}

.div2 .avtar_ctnt {
  margin: 4rem 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-template-rows: auto auto;
  align-items: center;
  text-align: left;
  font-family: "Preahvihear";
}

.div2 .avtar_ctnt .my_nm {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
  height: 30px;
  margin: 0 0 0 10.5rem;
  padding: 0;
  bottom: -30%;
}

.div2 .avtar_ctnt .my_nm p {
  position: relative;
  left: 4.2rem;

  font-size: 1rem;
  font-weight: 600;
  font-family: "Preahvihear";
}

.div2 .avtar_ctnt .my_nm p > span {
  margin: 0;
  padding: 0;
  color: #7127ba;
}

/* Curved Arrow Styles */
.arrow-container {
  position: relative;
  top: -1.45rem;
  width: 120px;
  height: 100px;
  opacity: 0.6;
}

.curve-line {
  width: 90%;
  height: 100%;
  border: 1px solid white;
  border-color: white transparent transparent transparent;
  border-radius: 100px 100px 0 0/70px 70px 0 0;

  transform: rotate(-35deg);
}

.arrow-head {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 200px 0 700px 0/700px 0 200px 0;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #ffffff;
  top: -69%;
  left: -3.28%;
  transform: rotate(-27deg);
}

.div2 .avtar_ctnt .avtar-div {
  grid-area: 2/1/3/2;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 300px;
  height: 335.58px;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}
.div2 .avtar_ctnt .avtar-div .avtar {
  justify-self: center;

  height: 223px;
  width: 165x;
}

.div2 .avtar_ctnt .ctnt {
  grid-area: 2/2/3/3;
  margin: 0 0 0 0.5rem;
  padding: 0;
  justify-self: start;
  align-self: center;
  max-width: 400px;
}

.div2 .avtar_ctnt .ctnt p {
  margin: 0;
  padding: 0;
}

.div2 .avtar_ctnt .ctnt p:nth-of-type(1) {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.6);
}
.big_font {
  font-size: 2.5rem;
}

.div2 .avtar_ctnt .ctnt p:nth-of-type(2) .border {
  display: inline-block;
  position: relative;
  top: 0.3rem;
  height: 3rem;
  width: 9rem;
  margin-left: -0.5rem;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50% / 50%;
  transform: rotate(-4.74deg);
  text-align: center;
}
.div2 .avtar_ctnt .ctnt p:nth-of-type(2) .text {
  display: inline-block;
  position: relative;
  top: -0.3rem;
  margin-left: -0.5rem;
  color: #7127ba;
  transform: rotate(4.74deg);
}

.div2 .avtar_ctnt .ctnt p:nth-of-type(3) {
  font-size: 0.75rem;
}

.div2 .dtl_ctnt {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.div2 .about_me p {
  font-family: "Preahvihear";
}

.div2 .about_me :is(p:nth-of-type(2), p:nth-of-type(3)) {
  text-align: justify;
}
.div2 .about_me p:nth-of-type(1) {
  text-align: left;
  font-weight: bold;
  margin: -1rem auto 1rem auto;
  padding: 0;
}
.div2 .about_me :is(p:nth-of-type(2), p:nth-of-type(3)) {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.div2 .heading {
  font-family: "Preahvihear";
  font-size: 2rem;
  font-weight: 600;
}

.div2 .exp .exp_ctnt {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  font-family: "Preahvihear";
  gap: 1rem;

  flex-wrap: wrap;
}

.div2 .exp .exp_ctnt > div {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  align-items: center;
  text-align: left;
  justify-content: center;

  width: clamp(375px, 40%, 475px);

  border-radius: 10px;
  border: solid 0.5px #7127ba;
  padding: 10px 10px;
  margin-top: 1rem;
  background: linear-gradient(
    150deg,
    #361761 0%,
    #2d1949 19.79%,
    rgba(44, 18, 80, 0) 90.1%
  );
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
}

.div2 .exp .exp_ctnt img {
  grid-area: 1 / 1 / 2 / 2;
  margin-right: 10px;
}
.div2 .exp .exp_ctnt img + .ctnt {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0 0 0 10px;
  width: 80%;
}

.div2 .exp .exp_ctnt img + .ctnt p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

.div2 .exp .exp_ctnt .ctnt p:nth-of-type(1) {
  font-weight: bold;
}
.div2 .exp .exp_ctnt .ctnt p:nth-of-type(2) {
  font-size: 0.6rem;
  text-align: justify;
}

.div2 .exp .exp_ctnt .ctnt button {
  margin-top: 0.6rem;
}

.div2 .exp .exp_ctnt .ctnt button {
  padding: 0.3em 0.5em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #693b93;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.div2 .exp .exp_ctnt .ctnt button:hover {
  background-color: #693b93;
  box-shadow: 0px 10px 20px #5b0da3;
  color: #fff;
}

.div2 .heading_2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.div2 .proj .proj_ctnt {
  display: flex;
  flex-direction: column;
  gap: min(2rem, 5rem);
}

.div2 .proj .proj_ctnt .ctnt_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 80%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
}
.div2 .proj .proj_ctnt .ctnt_div .heading_2 {
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  height: auto;
}
.div2 .proj .proj_ctnt .ctnt_div .heading_2 p {
  margin: 0.5rem 0 0.5rem 2rem;
  padding: 0;
}
.div2 .proj .proj_ctnt .ctnt_div .text {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0;
  position: relative;
  justify-self: end;
  align-self: center;
  line-height: 1.4;
  text-align: justify;
  padding: 1.5rem 2rem;
  padding-right: 1.2rem;
  width: clamp(300px, 40%, 500px);
  left: 10%;
  bottom: -1.5%;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(39, 18, 66, 0.8),
    rgba(39, 18, 66, 0.6),
    rgba(39, 18, 66, 0.4),
    rgba(39, 18, 66, 0.2)
  );
  backdrop-filter: blur(20px);
}

.div2 .proj .proj_ctnt .ctnt_div .text p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  padding-right: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div2 .proj .proj_ctnt .ctnt_div .text p:hover {
  padding-right: 0.625rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #7127ba #1a0b2e;
}

.div2 .proj .proj_ctnt .overview {
  grid-area: 1 / 2 / 3 / 3;
  justify-self: start;
  align-self: center;
  width: 70%;
  height: 80%;
  padding: 1rem 0 0 1rem;
  background: #2b0b3a;
  border-radius: 10px 0 0 0;
}

.div2 .proj .proj_ctnt .overview img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 12px 0 0 0;
}

.div2 .contact .icon {
  margin: 0;
  padding: 0;
}
.div2 .contact .mail-icon {
  fill: white;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: text-bottom;
  height: 1.3em;
  width: 1.3em;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
  height: auto;
  width: 15%;
}

.div4 {
  grid-area: 2 / 3 / 3 / 4;
  height: auto;
  width: 15%;
}

.div5 {
  grid-area: 3 / 1 / 4 / 4;
  width: 100%;
  height: 3rem;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .notice p {
    font-size: 6.5vw;
  }
  .parent {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .fixed-bottom {
    grid-area: 3/1/4/4;
    position: sticky;
    bottom: 0.5rem;
  }

  .div1 ul li .nav-icon {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 0;
    vertical-align: text-bottom;
  }
  .div1 ul li .text {
    font-size: 45%;
    display: none;
  }

  .div2 {
    width: 100%;
    margin: auto;
    font-size: 1rem;
    font-size: min(3.3vw, 1rem);
  }
  .big_font {
    font-size: min(8vw, 2.5rem);
  }
  .div2 .heading_2 {
    font-size: min(4.88vw, 1.5rem);
  }
  .div2 .heading {
    font-size: min(6vw, 2rem);
  }

  .div2 .avtar_ctnt {
    display: grid;
    grid-template: repeat(3, auto) / auto;
    width: 90%;
    margin: 2rem auto 0 auto;
  }
  .div2 .avtar_ctnt .my_nm .arrow-container {
    display: none;
  }
  .div2 .avtar_ctnt .avtar-div {
    grid-area: 1/1/2/2;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
  }
  .div2 .avtar_ctnt .my_nm {
    grid-area: 2/1/3/2;
    width: 100%;
    justify-self: center;
    margin: 0 auto 50px auto;
    padding: 0;
    left: 0;
  }

  .div2 .avtar_ctnt .my_nm p {
    position: static;
    font-size: min(4vw, 1.5rem) 4vw;

    left: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .div2 .avtar_ctnt .ctnt {
    grid-area: 3/1/4/2;
    align-self: start;
    margin: 0;
    width: 100%;
  }

  .div2 .avtar_ctnt .ctnt p:nth-of-type(2) .border {
    top: 0.3rem;
    height: min(9.8vw, 3rem);
    width: min(29.35vw, 9rem);
    margin-left: -0.5rem;
  }

  .div2 .avtar_ctnt .ctnt p:nth-of-type(3) {
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 1.8;
    font-size: min(2.61vw, 0.8rem);
  }
  .div2 .exp .exp_ctnt > div {
    width: min(90%, 375px);

    justify-self: center; /* or end, based on layout */
    margin: auto;
  }
  .div2 .exp .exp_ctnt .ctnt p:nth-of-type(2) {
    font-size: 0.7rem;
    font-size: min(2.28vw, 0.7rem);
  }

  .div2 .proj .heading {
    margin: 0 0 1rem 0;
    padding: 0;
  }

  .div2 .proj .proj_ctnt {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .div2 .proj .proj_ctnt .ctnt_div {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .div2 .proj .proj_ctnt .ctnt_div .heading_2 {
    grid-area: 1/1/2/2;
    width: 100%;
  }
  .div2 .proj .proj_ctnt .ctnt_div .heading_2 p {
    margin: 0 0 2rem 1rem;
  }

  .div2 .proj .proj_ctnt .overview {
    grid-area: 2/1/3/2;
    justify-self: center;
    align-self: center;
    margin: 0 0 1rem auto;
    margin: auto;
    width: 52vw;
    padding: 1.2rem 0 0 1.2rem;
    background: linear-gradient(
      135deg,
      rgba(39, 18, 66, 0.8),
      rgba(39, 18, 66, 0.6),
      rgba(39, 18, 66, 0.4),
      rgba(39, 18, 66, 0.2)
    );
  }
  .div2 .proj .proj_ctnt .overview img {
    width: 100%;
    justify-self: center;
    align-self: center;
  }

  .div2 .proj .proj_ctnt .ctnt_div .text {
    grid-area: 3/1/4/2;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    width: 48vw;
    padding: 1.2rem;
    padding-right: 1.5rem;
    height: auto;
    left: 0;
    bottom: 0;
    max-height: none;
    background: linear-gradient(
      -45deg,
      rgba(39, 18, 66, 0.8),
      rgba(39, 18, 66, 0.6),
      rgba(39, 18, 66, 0.4),
      rgba(39, 18, 66, 0.2)
    );
  }

  .div2 .proj .proj_ctnt .ctnt_div .text p {
    font-size: min(3.3vw, 1rem);
    justify-self: start;
    line-height: 1.5;
    align-self: center;
    width: 100%;
    left: 0;
    background: none;
    bottom: 0;
    margin: 0;
    padding: 0;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
  
  .div3 {
    display: none;
  }
  .div4 {
    display: none;
  }
  .div5 {
    display: block;
    width: 100%;
  }
}
