
.projArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  column-gap: min(2rem,2.5rem);
  row-gap: 2.5rem;
  margin: 3rem 0;
}
.projArea .projCards {
  width: clamp(275px, 85%, 350px);
  height: auto;
  box-shadow: 10px -10px 20px rgba(127, 90, 240, 0.3),
    0 0 40px rgba(127, 90, 240, 0.2);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}
.projArea .projCards:hover {
  box-shadow: 0 0 30px rgba(127, 90, 240, 0.4),
    0 0 60px rgba(127, 90, 240, 0.25), inset 0 0 12px rgba(127, 90, 240, 0.15);
  backdrop-filter: brightness(1.5) blur(8px);
  transform: scale(1.02) translateY(-2px);
  border-color: rgba(127, 90, 240, 0.3);
  transition: all 0.3s ease-in-out;
}
.projArea .projCards .projCtnt {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projArea .projCards .projCtnt h3 {
  color: #d1b8f2;
  font-weight: 800;
  letter-spacing: 1.2px;
}

.projArea .projCards .img_div {
  width: 100%;
  height: min(150px, 200px);
  margin: 0;
}

.projArea .projCards .img_div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.projArea .projCards .ctnt_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
  margin: 0 auto;
  padding: 0;
}
.projArea .projCards .ctnt_div .projName {
  margin: 0.5rem 0 0 0;
  padding: 0;
}
.projArea .projCards .ctnt_div .projDetail {
  margin: 0.5rem;
  padding: 0;
  padding-right: 1.25rem;
  color: #c8b8eb;
  opacity: 0.9;
  text-align: justify;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projArea .projCards  .ctnt_div:hover .projDetail{
  padding-right: 0.625rem;
  opacity: 1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #7127ba #1a0b2e;
}
.projArea .projCards .ctnt_div .projButtens {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0 0;
  padding: 0;
  gap: 0.5rem;
}
.projArea .projCards .ctnt_div .projButtens .git,
.projArea .projCards .ctnt_div .projButtens .link {
  width: 49%;
  text-decoration: none;
}
.projArea .projCards .ctnt_div .projButtens .full {
  width: 90%;
}
.projArea .projCards .ctnt_div .projButtens .git .gitBtn,
.projArea .projCards .ctnt_div .projButtens .link .linkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 30px;
  width: 100%;
  padding: 0 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;

  background: linear-gradient(135deg, #361f55, #5c398c);
  color: #e3dcf3;

  border: none;
  border-radius: 6px;
  transition: 0.2s;
}
.projArea .projCards .ctnt_div .projButtens .git .gitBtn:hover,
.projArea .projCards .ctnt_div .projButtens .link .linkBtn:hover {
  transform: scale(1.05);
  backdrop-filter: brightness(1.15);
}

.projArea .projCards .ctnt_div .projButtens .git .gitBtn .gitIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c1b0e3;
  height: 18px;
  width: 18px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .projArea {
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 2rem;
  }
  .projArea .projCards .ctnt_div .projButtens .git .gitBtn,
.projArea .projCards .ctnt_div .projButtens .link .linkBtn {
font-size: min(3.3vw,0.9rem);
}
}
