html {

  scroll-behavior: smooth;

}
body {
  background-color: rgb(17, 7, 31);
}
body,div {
  margin: 0;
  padding: 0;
}

.root {
  display: grid;
  grid-template: auto 1fr auto / 12.5% 1fr 12.5%;
  gap: 0px;
  grid-template-areas:
    "header header header"
    "lsidebar main rsidebar"
    "footer footer footer";
  font-family: "Inter", sans-serif;
  color: #fff;
  line-height: 1.6;
}


@media (min-width: 320px) and (max-width: 1024px) {
  .notice p {
    font-size: 6.5vw;
  }
  .root{
    grid-template-columns: 5% 90% 5%;
  }


}

